# My Jupyter Notebook 
Publicly available on Github

**MUHAMMAD MUZAMMIL**

Petroleum Engineer | Data Scientist

*I am interested in data science because I love to understand the relationship of the data with the other data in a pool of many datas and its impact, Also i want to learn how this whole can impact on the actual system of real world*

### The following code test the Gauss Formula

In [24]:
def gauss (n):
    return (n*(n+1))/2
gauss(100) == sum(range(101))

True

### Simple Math

In [23]:
# simple math

a = 10
b = 2

c = a+b
d = a-b
e = a*b
f = a/b

print(c)
print(d)
print(e)
print(f)

12
8
20
5.0

***

My assignment for tools for data science course

***

*one
*two
*three
*four

1. first
2. second
3. third
4. fourth


*Want to google something,* <a href="https://www.google.com" target="_blank">click here</a>

<table>
  <tr>
    <th>Subjects</th>
    <th>Score</th>
    <th>Total</th>
  </tr>
  <tr>
    <td>Mathematcis</td>
    <td>80</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Science</td>
    <td>90</td>
    <td>100</td>
  </tr>
</table>